{
  "env": {
    "development": {
      "passPerPreset": true,
      "presets": [
        "react-native-stage-0"
      ]
    },
    "production": {
      "passPerPreset": true,
      "presets": [
        "react-native-stage-0"
      ]
    }
  }
}
