{
  passPerPreset: true,
  presets: [
    'react-native'
  ],
  env: {
    development: {
      plugins: [
        'transform-react-constant-elements',
      ]
    },
    production: {
      plugins: [
        'transform-react-constant-elements'
      ]
    }
  }
}
